// ==================================================
// ==================================================
.site-footer {
	background-color: $footer-bg;
	color: $color2;
	padding-top: 15px;
	padding-bottom: 15px;

	a {
		color: $color2;
	} // a
} // .site-footer
